
<p class = "contact_box">There are <span class = "num_of_contacts"><%=@contact_count%></span> contacts</p>

<ul>
  <% Contact.all.each do |contact| %>
  <li>
    <a href="/contacts/<%=contact.id%>"> <%= contact.first_name %> <%= contact.last_name %></a> (<%= contact.email%>)
      <div class="links">
        <a href="/contacts/<%=contact.id%>/edit">Edit</a> | <a href="/contacts/<%=contact.id%>">Delete</a>
      </div>
  </li>
  <% end %>
</ul>
